<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Meta Information -->
      <title>Pikachoose - Home Page</title>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="/styles/display_results.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>

    <!-- Top nav bar -->
    <% include partials/nav_bar %>

    <!-- Main Container -->
    <main class="content-container">
      <section >
        <h1 id="homepage-title">Poll Results</h1>

        <h3 class="welcome-message"># of people who took poll: <%= number_of_voters  %></h3>
        <hr>
      </section>

        <!-- Options Container -->
    <section id="options">
      <!-- Article container that options will be populated in. -->
      <h3>Results:</h3>
      <% borda_results.forEach(function(x) { %>
        <% if (!!x[4]) { %>
          <div class="result-element winner">
            <div class="rank-field">rank: <%= x[1] %> </div>
            <div class="options-field"><%= x[2] %> </div>
            <div class="options-description"><%= x[3] %> </div>
          </div>
        <% } else { %>
          <div class="result-element">
            <div class="rank-field">rank: <%= x[1] %> </div>
            <div class="options-field"><%= x[2] %> </div>
            <div class="options-description"><%= x[3] %> </div>
          </div>
        <% } %>
      <% }) %>
      <img src="https://media1.tenor.com/images/8b054a6715624dfc8090995bfe3da6d6/tenor.gif">
    </section>
  </body>
</html>
